CrylDesktop/Service References/CrylService/Transaccion1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2386/Transaccion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CrylService.Dominio" />
  <xs:element name="CrearCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CrylService.Dominio" minOccurs="0" name="nuevoCliente" nillable="true" type="q1:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CrylService.Dominio" minOccurs="0" name="CrearClienteResult" nillable="true" type="q2:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCliente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CrylService.Dominio" minOccurs="0" name="ListarClienteResult" nillable="true" type="q3:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CrylService.Dominio" minOccurs="0" name="clienteModificar" nillable="true" type="q4:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CrylService.Dominio" minOccurs="0" name="ModificarClienteResult" nillable="true" type="q5:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CrylService.Dominio" minOccurs="0" name="ObtenerClienteResult" nillable="true" type="q6:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CrylService.Dominio" minOccurs="0" name="clien" nillable="true" type="q7:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CrylService.Dominio" minOccurs="0" name="BuscarClienteResult" nillable="true" type="q8:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CrylService.Dominio" minOccurs="0" name="clien" nillable="true" type="q9:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarSesionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IniciarSesionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CrylService.Dominio" minOccurs="0" name="nuevoEmpleado" nillable="true" type="q10:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CrylService.Dominio" minOccurs="0" name="CrearEmpleadoResult" nillable="true" type="q11:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEmpleado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CrylService.Dominio" minOccurs="0" name="ListarEmpleadoResult" nillable="true" type="q12:ArrayOfEmpleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CrylService.Dominio" minOccurs="0" name="empleadoModificar" nillable="true" type="q13:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CrylService.Dominio" minOccurs="0" name="ModificarEmpleadoResult" nillable="true" type="q14:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodEmpleado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CrylService.Dominio" minOccurs="0" name="ObtenerEmpleadoResult" nillable="true" type="q15:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearMedicamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CrylService.Dominio" minOccurs="0" name="nuevoMedicamento" nillable="true" type="q16:Medicamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearMedicamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CrylService.Dominio" minOccurs="0" name="CrearMedicamentoResult" nillable="true" type="q17:Medicamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMedicamento">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMedicamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CrylService.Dominio" minOccurs="0" name="ListarMedicamentoResult" nillable="true" type="q18:ArrayOfMedicamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarMedicamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/CrylService.Dominio" minOccurs="0" name="medicamentoModificar" nillable="true" type="q19:Medicamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarMedicamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CrylService.Dominio" minOccurs="0" name="ModificarMedicamentoResult" nillable="true" type="q20:Medicamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUnidadesxMedicamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUnidadesxMedicamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/CrylService.Dominio" minOccurs="0" name="ListarUnidadesxMedicamentoResult" nillable="true" type="q21:Medicamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodosMedicamentos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodosMedicamentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/CrylService.Dominio" minOccurs="0" name="ListarTodosMedicamentosResult" nillable="true" type="q22:ArrayOfMedicamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMedicamentos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodMedicamento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMedicamentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/CrylService.Dominio" minOccurs="0" name="ObtenerMedicamentosResult" nillable="true" type="q23:Medicamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPedido">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/CrylService.Dominio" minOccurs="0" name="ListarPedidoResult" nillable="true" type="q24:ArrayOfPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/CrylService.Dominio" minOccurs="0" name="nuevoPedido" nillable="true" type="q25:Pedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearPedidoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NroPedido" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/CrylService.Dominio" minOccurs="0" name="ObtenerPedidoResult" nillable="true" type="q26:Pedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearDetallePedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/CrylService.Dominio" minOccurs="0" name="nuevoDetallePedido" nillable="true" type="q27:DetallePedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearDetallePedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearDetallePedidoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarxPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idpedido" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarxPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/CrylService.Dominio" minOccurs="0" name="ListarxPedidoResult" nillable="true" type="q28:ArrayOfDetallePedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>